body {
  background: var(--bs-white);
  border-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.navbar {
  background: #eeeeee;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-style: none;
  height: 80px;
}

.contain-menu {
  min-width: 140px;
  max-width: 140px;
  background: #eeeeee;
  height: 90vh;
  overflow: auto;
  display: flex;
  position: static;
}

a {
  text-decoration: none;
  color: inherit;
}

