<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mail</title>
    <!-- <link rel="stylesheet" href="nav-bar.component.css"> -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="src/app/assets/css/styles.min.css"> -->
</head>

<body class="text-center">
    <!-- nav bar -->
    <nav class="navbar navbar-light navbar-expand-md sticky-top py-3">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <span
                    class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"
                    style="background: rgb(238,238,238);">
                    <img src="assets/img/logo.png" width="47" height="47" style="margin-left: 18px;">
                </span>
                <span style="margin-left: 20px;">Mail Server</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" style="margin-left: 39px;">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style="margin-top: 5px;margin-left: 65px;">
                            <input class=" form-control-sm " type="search"
                                style="margin-top: 0px;border-style: none;text-align: center; ">
                            <button class="btn btn-primary btn-sm link-light" type="button"
                                style="margin-left: 10px;background: rgb(101,131,254);border-style: none;margin-bottom: 3px;">Search</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End: nav bar -->

    <!-- side-menu -->
    <app-side-bar></app-side-bar>
    <!-- End: side-menu -->
</body>

</html>