<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>E-Service | Inbox</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="background: var(--bs-accordion-active-color);">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span style="font-size: 25px;">E Service</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">

                    <li class="nav-item"><a class="nav-link active"  (click)="setCurrentPage('compose')"><i class="fas fa-marker"
                        style="font-size: 15px;"></i><span class="title" style="font-size: 15px; margin-left: 15px;">Compose</span></a></li>
                    <li class="nav-item"><a class="nav-link active" (click)="setCurrentPage('inbox')"><i class="fas fa-inbox"
                        style="font-size: 15px;"></i><span class="title" style="font-size: 15px; margin-left: 15px;">Inbox</span></a></li>
                    <li class="nav-item"><a class="nav-link active" (click)="setCurrentPage('drafts')"><i class="fas fa-book"
                        style="font-size: 15px;"></i><span class="title" style="font-size: 15px; margin-left: 15px;">Drafts</span></a></li>
                    <li class="nav-item"><a class="nav-link active" (click)="setCurrentPage('sent')"><i class="fab fa-telegram-plane"
                        style="font-size: 15px;"></i><span class="title" style="font-size: 15px; margin-left: 15px;">Sent</span></a></li>
                        <li class="nav-item"><a class="nav-link active" (click)="setCurrentPage('trash')"><i class="far fa-trash-alt"
                            style="font-size: 15px;"></i><span class="title" style="font-size: 15px; margin-left: 15px;">Trash</span></a></li>
                            
                            <li *ngFor="let folder of folders;" class="nav-item">
                                <a class="nav-link active"  (click)="setCurrentPage(folder)"><i class="fas fa-inbox"
                                    style="font-size: 15px;"></i><span class="title" style="font-size: 15px; margin-left: 15px;">{{folder}}</span></a>
                                </li>
                    
                                <li style="margin-top: 30px !important;" class="nav-item m-2 me-10"><button (click)="createClicked()" style="background-color: #293462; border-radius: 10px; " class="c-d btn btn-primary p-2 m-0 buttons"><i class="fas fa-plus"
                                style=" margin-right: 5px; font-size: 13px;"></i><span class="title" style="font-size: 15px;">New Folder</span></button></li>
                                <li style="margin-top: 0px !important; " class="nav-item m-2 "><button (click)="deleteFolder()" style="background-color:#293462; border-radius: 10px;" class="c-d btn btn-primary p-2 m-0 buttons"><i class="fas fa-minus"
                        style="margin-right: 5px ; font-size: 13px;"></i><span class="title" style="font-size: 15px;">Delete Folder</span></button></li>  
                        <dialog class="dialog-box" [hidden]="isHidden">
                        <form method="dialog">
                            <p style="font-size: larger;">Enter Folder Name</p>
                            <input id="folder-input" type="text" name="folderName" placeholder="  Folder Name">
                            <menu>
                                <button (click)="cancelClicked()" class="cancel" value="cancel">Cancel</button>
                                <button value="default" (click)="folder()">{{buttonTitle}}</button>
                            </menu>
                        </form>
                    </dialog>
                </ul>
                
            </div>
            
            
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                        id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small shadow-none" type="text"
                                placeholder="Search for ..." style="border-style:none;" id="search" (change)="search_for()">
                                
                                <button class="btn btn-primary py-0" type="button" disabled>
                                <i class="fas fa-search"></i></button>
                                <button class="btn btn-success py-0" type="button" style="margin-left: 15px; width: 40px;" (click)="refresh()">
                                    <img src="/assets/img/refresh.png" width="20px"></button>

                                
                            
                            </div>

                                </div>
                                <ul class="navbar-nav flex-nowrap ms-auto">
                                    <div class="d-none d-sm-block topbar-divider"></div>
                                </ul>
                                <div>
                                    <select name="sort" id="sort" (change)="sortEmails()">
                                        <option value="0">Sort By</option>
                                        <option value="1">Priority</option>
                                        <option value="2">Date</option>
                                        <option value="3">Sender Email</option>
                                      </select>
                                </div>
                                </div>
                            </nav>
                            <span style="font-size: 14px; color: orangered; margin-left: 15px;">> Viewing {{this.page}}</span>
                            <div *ngIf="display!=''" class="alert alert-success" role="alert">{{display}}</div>
                            
                            <!-- List of Emails -->
                            <div *ngFor="let email of results.slice((pagenumber-1)*10, pagenumber*10);" class="row" style="height: 60px;" (click)="viewEmail(email.emailID)" id="{{email.emailID}}">
                                <div class="col col-lg-2">
                                    <p class="title">{{email.from_fullname}}<br><span class="email">({{email.from}})</span></p>
                                </div>
                                
                                <div class="col col-lg-1" style="margin-top: 15px;">
                                    <img *ngFor="let item of [].constructor(5); let i = index" class="info-img {{isPriorityBadgeActive(i, email.priority)}}" width="20px" src="/assets/img/alert.png">
                                </div>
                            
                                <div class="col col-lg-7" style="margin-top: 5px;">
                                    <span class="subject">{{email.subject}}</span><br>
                                    <span class="content-short">{{email.messageBody.substring(0, 100)}}...</span>
                                </div>
                                
                                <div class="col col-lg-2" style="text-align: center;">
                                    <span class="time">{{email.datetime}}</span>
                                    <br>
                                    <img class="delete-img" width="20px" (click)="deleteEmail(email.emailID)" src="/assets/img/delete.png">
                                </div>
                            </div>
                            <!-- End of List of Emails -->

                            <!-- Compose Component -->
                            <div *ngIf="page=='compose'" id="compose" style="z-index: 10; width: 50vw;">
                                <div style="height: 85%;">
                                    <h4>New message</h4>
                                    <input class="compose-input" type="text" id="to" placeholder="To" value="{{reply_to}}" />
                                    <input class="compose-input" type="text" id="subject" placeholder="Subject" value="{{reply_subject}}" />
                                    <textarea id="message" placeholder="Message Body"></textarea>
                                    <div class="uploaded-attachment" style="margin-top: 15px; margin-bottom: 15px; margin-left: 300px; text-align: center;">
                                        <span *ngFor="let attachment of compose_attachments">
                                            <span style="color: red; cursor: pointer" (click)="popAttachment(attachment)">[X]</span> {{attachment}} <br></span>
                                    <br>
                                    </div>
                                </div>
                                <button class="custom-btn send" (click)="send()">Send</button>
                                <button class="custom-btn draft" (click)="draft()">Draft</button>
                                <button class="custom-btn discard" (click)="setCurrentPage('inbox')">Cancel</button>
                                <label class="label-compose custom-btn compose-attachments-btn" style="margin-top: 50px;"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/attach_file_baseline_nv700_20dp.png">Attachments
                                    <input type="file" id="attachment" (change)="fileChange($event)" class="custom-btn compose-attachments-btn" style="display: none;">
                                </label>
                            </div>
                            <!-- End of Compose Component -->
                            
                            <!-- Email Preview Component -->
                            <div *ngIf="page=='preview'" id="preview" style="z-index: 10; width: 50vw">
                            <!-- <div id="preview" style="z-index: 10; width: 50vw"> -->
                                <div style="height: 85%;">
                                    <h2>{{email_preview.subject}}</h2>
                                    <span style="font-weight: bold;">From: </span> <span>{{email_preview.from}}</span> <br>
                                    <span style="font-weight: bold;">To: </span> <span>{{email_preview.to}}</span> <br>
                                    <p style="font-size: 12px; float: right;">{{email_preview.datetime}}
                                    <br>
                                    <img style="margin: 5px; cursor: pointer;" (click)="moveEmail(email_preview.emailID, CURRENT_FOLDER, '')" src="/assets/img/send.png">
                                    <img style="margin: 5px; cursor: pointer;" (click)="moveEmail(email_preview.emailID, CURRENT_FOLDER, 'trash')" src="/assets/img/trash.png" width="24px">
                                    
                                    </p><br>
                                    <hr>
                                    <span style="font-weight: bold">Message Body</span>
                                    <p>{{email_preview.messageBody}}</p>
                                    <hr>
                                    <div>Priority:
                                        <div>
                                            <img *ngFor="let item of [].constructor(5); let i = index" class="info-img {{isPriorityBadgeActive(i, email_preview.priority)}}" (click)="setPriority(email_preview, i)" width="20px" style="cursor: pointer;" src="/assets/img/alert.png">
                                        </div>
                                    </div>
                                    <hr>

                                    <span *ngFor="let attachment of email_preview.attachment.split(',');" style="font-weight: bold;">Attachment: <a href="{{SPRINGBOOT}}download/{{attachment}}"><span>{{attachment}}</span></a><br></span>
                                </div>

                                <button class="custom-btn send" (click)="setCurrentPage('compose', email_preview.from, email_preview.subject)">Reply</button>
                                <button class="custom-btn" (click)="navigateEmails('back')" >PREVIOUS</button>
                                <button class="custom-btn" (click)="navigateEmails('forward')">NEXT</button>
                                <button class="custom-btn discard" (click)="setCurrentPage('inbox')" style="float: right;">Close</button>

                            </div>
                            <!-- Email Preview Component -->
                            <div *ngIf="page=='compose' || page=='preview'" class="glass"></div>
                            

                            <div *ngIf="results.length==0" style="position: absolute; top: 49%; left: 49%">
                                <img src="/assets/img/empty.png">
                                <br>
                                No Emails
                            </div>
                            
    
    <div *ngIf="results.length > 0" id="pagination">
        <p style="margin: 15px;">Showing 10 of {{full_results.length}} results</p>
        <nav style=" display: flex; justify-content: center; margin-top: 30px;">
            <ul class="pagination">
                <li class="page-item"><a style="cursor: pointer;" class="page-link" (click)="pagination(-1)" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a style="cursor: pointer;" class="page-link" ><b>Page: {{pagenumber}}</b></a></li>
                <li class="page-item"><a style="cursor: pointer;" class="page-link" (click)="pagination(1)" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
