body {
    background: #22c1c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f3f3f3, #f3f3f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f3f3f3, #f3f3f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    height: 100vh;
}

#compose {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: 80%;
    padding: 44px;
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.compose-btn {
    margin-right: 15px;
    margin-bottom: 10px;
}

.discard {
    background-color: white;
    color: black;
    border: 1px solid rgba(150, 0, 0, 0.4);
}

.draft {
    background-color: white;
    color: black;
    border: 1px solid rgba(101,131,254, 1);
}

.discard:hover{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(150, 0, 0, 0.4);
    opacity: 0.8;
}

label {
    border: 1px solid #ccc;
    display: inline-block;
    /* padding: 6px; */
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    cursor: pointer;
    color: white;
    
}

.compose-attachments-btn {
    width: 150px;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
}

#message{
    height: 78%;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 10px;
}

#sign_up {
    margin-top: 15vh;
}

.small_logo {
    max-width: 175px;
    margin-bottom: 30px;

}

h4 {
    margin-bottom: 15px;
}

h5 {
    color: #e81123;
    font-size: 16px;
}

input, select{
    border-color: rgba(0, 0, 0, 0.6);
    height: 36px;
    background-color: transparent;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    padding: 6px 10px;
    width: 100%;
    margin-bottom: 15px;
}

input:focus{
    outline: none;
    border-color: #22c1c3;
}

button {
    margin-top: 25px;
    border-width: 0;
    background-color: rgb(101,131,254);
    margin-right: auto;
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    right: 10px;
    float: left;
}

button:hover{
    background-color: rgb(101,131,254);
    opacity: 0.8;
}

.captcha{
    max-width: 200px;
}