<!DOCTYPE html>
<html lang="en" id ="log">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mail Services | Homepage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <div id="compose">
        <input type="text" id="to" placeholder="To" />
        <input type="text" id="subject" placeholder="Subject" />
        <textarea id="message" ></textarea>
        <button class="compose-btn send" (click)="send()">Send</button>
        <button class="compose-btn draft" (click)="draft()">Draft</button>
        <button class="compose-btn discard">Cancel</button>
        <label class="compose-btn compose-attachments-btn"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/attach_file_baseline_nv700_20dp.png">Attachments
            <input type="file" id="attachment" class="compose-btn compose-attachments-btn" style="display: none;">
        </label>
        
    </div>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>