body {
    background: none;
    height: 100vh;
}

#compose {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: 80%;
    padding: 44px;
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.compose-btn {
    margin-right: 15px;
    margin-bottom: 10px;
}

.discard {
    background-color: white;
    color: black;
    border: 1px solid #e81123db;
}

.draft {
    background-color: white;
    color: black;
    border: 1px solid #4e73df;
}


label {
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    cursor: pointer;
    color: white;

}

.compose-attachments-btn {
    width: 150px;
    float: right;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: rgb(69, 69, 69);
    border: 1px solid rgb(69, 69, 69);
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
    text-align: center;
    align-content: center;
}

.compose-attachments-btn:hover {
    background-color: rgb(153, 153, 153);
    color: white; 
}

#message {
    height: 78%;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    outline: none;
    margin-top: 10px;
}


#sign_up {
    margin-top: 15vh;
}


.small_logo {
    max-width: 175px;
    margin-bottom: 30px;

}

h4 {
    margin-bottom: 15px;
}

h5 {
    color: #e81123;
    font-size: 16px;
}

input,
select {
    border-color: rgba(0, 0, 0, 0.3);
    height: 36px;
    background-color: transparent;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
    padding: 6px 10px;
    width: 100%;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: #4e73df;
}

button {
    margin-top: 25px;
    border-width: 0;
    background-color: #4e73df;
    margin-right: auto;
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 5px;
    right: 10px;
    float: left;
}

button:hover {
    background-color: #3961d8;
}

.discard:hover {
    background-color: #e81123db;
    color: white;
}

.draft:hover {
    background-color: #4e73df;
    color: white;
}

.captcha {
    max-width: 200px;
}