<!DOCTYPE html>
<html lang="en" id="register">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mail Services | Homepage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <div id="sign_up">
        <img class="small_logo" src="/assets/img/logo2.png">
        <h4>Create account</h4>
        <h5 class="error_message" style="display: block;" id="error"></h5>
        <input type="text" id="first" placeholder="First Name" style="width: 49%" />
        <input type="text" id="second" placeholder="Last Name" style="width: 49%" />
        <input type="text" id="email" placeholder="New email" style="width: 49%" />
        <select name="email" id="aemail" style="width: 49%">
            <option>@embaby.tech</option>
            <option>@ahmed.tech</option>
            <option>@talha.tech</option>
            <option>@aladdin.tech</option>
        </select>
        <input type="password" id="pass" placeholder="Password" />
        <input type="password" id="cpass" placeholder="Confirm Password" />

        <img class="captcha" src="/assets/img/CAPTCHA.png">
        <input type="text" id="cap" placeholder="Solve Captcha" style="width: 50%;" />
        
        <h6>Already have an account? <a href="/register">Sign in!</a></h6>
        <button type="submit"(click)="log()">Sign In</button>
    </div>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>