<!DOCTYPE html>
<html lang="en" id ="log">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mail Services | Homepage</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <div id="sign_in">
        <img class="small_logo" src="/assets/img/logo2.png">
        <h4>Sign in</h4>
        <h5 class="error_message1" style="display: block;" id="error"></h5>
        <input type="text" id="emaill" placeholder="Username" />
        <input type="password" id="passl" placeholder="Password" />
        <h6>No account? <span style="color: blue; cursor: pointer;" (click)="register()">register</span></h6>
        <button type="submit"(click)="login()">Sign In</button>
    </div>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>